-r requirements.txt

black
flake8-isort
flake8-bugbear
flake8-comprehensions
flake8-debugger
flake8-eradicate
flake8-implicit-str-concat
flake8-literal
flake8-multiline-containers
flake8-pie
flake8-type-checking
